#root {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

.board {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  position: relative;
}

.number {
  min-width: 10%;
  min-height: 10%;
  max-width: 10%;
  max-height: 10%;
  background-color: white;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.correct {
  transition: background-color 0.5s ease;
  background-color: red;
}